<ion-header>
  <br>
  <ion-navbar>
      <ion-buttons right>
          <ion-fab right middle>
            <button ion-fab mini color="primary" (click)="novo_Cliente()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
          <!--
          <button ion-button icon-only (click)="novo_Cliente()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        -->
      </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br>

  <ion-grid>
    
    <ion-row *ngIf="showSpinnerCliente" justify-content-center>
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </ion-row>
    
    <ion-row justify-content-center>
      <ion-col>

        <!--
        <ion-spinner name="circles"></ion-spinner>
        -->
        <ion-list>
          <ion-item-sliding *ngFor="let item of listaClientes | async">
            <ion-item (click)="selecionaCliente(item)" detail-push>
              <ion-icon name="contact" item-left></ion-icon>
              {{item.nome}}
              <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" icon-only (click)="delCliente(item.$key)">
                  <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <!--
        <button ion-button block (click)="novo_Cliente()" color="danger">Novo Cliente</button>
        -->  

      </ion-col>  
    </ion-row>
  </ion-grid>

</ion-content>
