<ion-header>
  <br>
  <ion-navbar>
      <ion-buttons right>
        <button ion-fab mini color="danger" (click)="novo_Produto()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons right>
        <button ion-fab mini color="primary" (click)="onGetBarcode()">
          <ion-icon name="barcode"></ion-icon>
        </button>
      </ion-buttons>  

    <ion-title>Produtos</ion-title>
  </ion-navbar>
  <ion-row col-12>
    <ion-searchbar placeholder="Pesquisar pelo nome" class="rounded" (ionInput)="filtraProdutos($event)"></ion-searchbar>
  </ion-row>
</ion-header>

<ion-content>
  
  <ion-grid>

    <ion-row *ngIf="showSpinnerProduto" justify-content-center>
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </ion-row>

    <ion-row *ngIf="!showSpinnerProduto" justify-content-center>
      
      <ion-col>

        <!--
        <ion-spinner name="circles"></ion-spinner>
        -->
        <ion-list>
          <ion-item-sliding *ngFor="let item of listaProdutos | async">
            
            <ion-item (click)="selecionaProduto(item)" detail-push>
              <ion-icon name="shirt" item-left></ion-icon>
              
              <ion-row>
                <ion-col justify-content-start>{{item.desc}}</ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col class="prod_detail" justify-content-start col-5>Tam: {{ item.tamanho }}</ion-col>
                <ion-col class="prod_detail" justify-content-end col-3>Cor: {{ item.cor }}</ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="prod_detail" justify-content-start col-5>Marca: {{ item.marca }}</ion-col>
                <ion-col class="prod_detail" justify-content-end col-3>Preço: {{ item.valVenda }}</ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="prod_detail" justify-content-start col-5>Disp.: {{ item.qtd_disp }}</ion-col>
              </ion-row>
                         
              
              <i class="icon ion-chevron-right"></i>
            </ion-item>
            
            <ion-item-options side="right">
              <button ion-button color="danger" icon-only (click)="delProduto(item.$key)">
                  <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <!--
        <button ion-button block (click)="novo_Produto()" color="danger">Novo Produto</button>
        -->  

      </ion-col>  
    </ion-row>
  </ion-grid>

</ion-content>