
.iconeCli {
    text-align: center;
    font-size: 30px;
    align-content: center;
    justify-content: center;
    color: white;
}

.nomeCli {
    text-align: center;
    color: white;
    font-size: 12px;
}

.botao {
    text-align: center;
    font-size: 40px;
    color: yellow;
    background-color: yellow;
    width: 30%;
}