
.iconeCliente {
    text-align: center;
    font-size: 40px;
    align-content: center;
    justify-content: center;
    color: white;
}

.nomeCliente {
    text-align: center;
    color: white;
}

.botao {
    text-align: center;
    font-size: 40px;
    color: yellow;
    background-color: yellow;
    width: 30%;
}