<ion-header>
  <br>
  <ion-navbar>
      <ion-buttons right>
          <ion-fab right middle>
            <button ion-fab mini color="primary" (click)="onGetBarcode()">
              <ion-icon name="camera"></ion-icon>
            </button>
          </ion-fab>
      </ion-buttons>
    <ion-title>Produto</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>

        <form [formGroup]="produtoForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
          
          <ion-item>
            <ion-icon name="barcode" item-left></ion-icon>
            <ion-input type="text" placeholder="Código de barras" formControlName="codBarras"></ion-input>  
          </ion-item>

          <ion-item>
            <ion-icon name="shirt" item-left></ion-icon>
            <ion-input type="text" placeholder="Produto" formControlName="desc"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="grid" item-left></ion-icon>
            <ion-input type="text" placeholder="Código" formControlName="codigo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="list" item-left></ion-icon>
            <ion-label>Marca</ion-label>
            <ion-select interface="action-sheet" placeholder="Marca" formControlName="marca">
              <ion-option value="DM">DeMillus</ion-option>
              <ion-option value="VL">Valisére</ion-option>
              <ion-option value="VF">ValFrance</ion-option>
              <ion-option value="TI">Toque Íntimo</ion-option>
            </ion-select>
            <!--
            <ion-icon name="list" item-left></ion-icon>
            <ion-input type="tel" placeholder="Marca" formControlName="marca"></ion-input>
            -->  
          </ion-item>

          <ion-item>
            <ion-icon name="square" item-left></ion-icon>
            <!--
            <ion-label>Cor</ion-label>
            <ion-select interface="action-sheet" placeholder="Cor" formControlName="cor">
              <ion-option value="A">Amarelo</ion-option>
              <ion-option value="V">Vermelho</ion-option>
            </ion-select>  
          -->  
            <ion-input type="text" placeholder="Cor" formControlName="cor"></ion-input>
            -->  
          </ion-item>

          <ion-item>
            <ion-icon name="calculator" item-left></ion-icon>
            <ion-input type="number" placeholder="Valor compra" formControlName="valCompra"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="calculator" item-left></ion-icon>
            <ion-input type="number" placeholder="Valor venda" formControlName="valVenda"></ion-input>
          </ion-item>

          <br>
          <button ion-button block type="button" [disabled]="produtoForm.invalid" *ngIf="!isAtualizar" color="primary" round (click)="onSubmit()">Salvar</button>
          <button ion-button block type="button" [disabled]="produtoForm.invalid" *ngIf="isAtualizar" color="danger" round (click)="onUpdate()">Atualizar</button>
          <!--
          <button ion-button block type="button" color="primary" round (click)="onGetBarcode()">Código de Barras</button>
          -->  
          <!--
          <div *ngIf="barcodeResult">
            {{barcodeResult | json}}
            <div>
              {{barcodeResult.text}}
            </div>
          </div>
        -->

        </form>

      </ion-col>  
    </ion-row>
  </ion-grid>  

</ion-content>